<!DOCTYPE html>
<html>
  <head>
    <title>ComicRecord</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" /> %>
  </head>

  <body>
    <header class="header  uk-alert-primary">
      <% if user_signed_in? %>
        <div class="siteName">
          <h1 class="title">コミックレコード</h1>
        </div>
          <ul class="uk-breadcrumb">
            <li><%= link_to '新規投稿', new_user_comic_path(current_user), method: :get, class: :signout %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :signout %></li>
          </ul>       
      <% else %>
        <div class="siteName">
          <h1 class="title"> コミックレコード~コミ×レコ~</h1>      
        </div>
          <ul class="uk-breadcrumb">
            <li><%= link_to '新規登録', new_user_registration_path, method: :get, class: :signout %></li>
            <li><%= link_to 'ログイン', new_user_session_path, method: :get, class: :signout %></li>
          </ul>
          <div class="navToggle">
            <i class="fas fa-bars header__icon"></i>
          </div>
          <nav class="hamburger hamburger-nav">
            <button type="button" id="nav-toggle" class="nav-toggle-button"></button>
            <ul id="nav-list" class="nav-list close", style="list-style-type:none;">
              <li><%= link_to '新規登録', new_user_registration_path, method: :get,class: 'hum hum-new', style: 'color: #999; text-decoration:none;' %></li>
              <li><%= link_to 'ログイン', new_user_session_path, method: :get,class: 'hum hum-login', style: 'color: #999; text-decoration:none;'%></li>
            </ul>
          </nav>
      <% end %>
    </header>  
    <%= yield %>
    <%# <script src="js/jquery.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script> %>
    <script type="text/javascript">
    $(window).resize(function(){
        //windowの幅をxに代入
        var x = $(window).width();
        //windowの分岐幅をyに代入
        var y = 755;
        if (x >= y) {
            $('.hamburger').addClass('hamburger-nav');
        }
    });
</script>
  </body>
</html>
